<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Software Name: Orange Design System
  ~ SPDX-FileCopyrightText: Copyright (c) Orange SA
  ~ SPDX-License-Identifier: MIT
  ~
  ~ This software is distributed under the MIT license,
  ~ the text of which is available at https://opensource.org/license/MIT/
  ~ or see the "LICENSE" file for more details.
  ~
  ~ Software description: Android library of reusable graphical components
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".OdsApplication"
        android:allowBackup="true"
        android:taskAffinity=""
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orange.NoActionBar">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>