body {
    font-family: sans-serif;
    font-size: 14;
    background-color: #121212;
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

a:active, a:focus {
    color: #FFFFFF;
}