name: app-distribution-daily

on:
  schedule:
    - cron: '31 7 * * MON-FRI'

jobs:
  app-distribution-daily:
    runs-on: ubuntu-latest
    if: github.repository == 'Orange-OpenSource/ods-android'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up our JDK environment
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Set up signing configuration
        uses: ./.github/actions/setup-signing
        with:
          keystore: ${{ secrets.SIGNING_KEYSTORE }}
          store-password: ${{ secrets.SIGNING_STORE_PASSWORD }}
          key-alias: ${{ secrets.SIGNING_KEY_ALIAS }}
          key-password: ${{ secrets.SIGNING_KEY_PASSWORD }}

      - name: Upload APK to Firebase App Distribution
        uses: ./.github/actions/app-distribution
        with:
          append-git-sha-to-version-name: 'true'
          git-tag-prefix: 'ci/daily-demo'
          group: 'ods-android-internal-tests'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          firebase-token: ${{secrets.FIREBASE_TOKEN}}
